/*CLASE BOLT*/
.roboto  {
    font-family: 'Roboto', sans-serif;
}

.fixed {
    position: fixed;
    top: 0px;
    width: 100%; height: 260px;
    justify-content: space-evenly;
    left: 0px;
    background-color:#fbbc02 ;
    text-align: left;
    
}

    
    
    
    main {
         
        width: 500px;
        height: 500px;
        margin: 30px auto;
        ;
    }
    
    
    
    
    p {
        transform: translate(30px,10px);
        font-size: 20px;
    }
    
    h1 {
        transform: translate(960px,-120px);
        font-size: 20px;
    }
    
    h2 {
    transform: translate(960px,-90px);
    font-size: 20px;
    }
    
    h3 {
    transform: translate(90%, -135px);
    font-size: 20px;
    }
    
    .contenedor{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: 600px;
       
    
    
    }
    .prod,.prod1 {
         height:300px; width: 300px ; border: 3px solid;
    }
    
    .contenedor2{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        border: 3px solid;
        box-shadow: 3px;
       
        
        
    }
    .btna {
        transform: translate(1400%, -50px)
    }